 
 {% extends 'main/base.html' %}

 {% block content %}
    <div class="container mt-5">
        <div class="row .payment-dialog-row">
            <div class="col-12 col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3><span class="panel-title-text">Daily Rewards</span></h3>
                    </div>
                    <div class="card-body">
                        <form>
                            {% csrf_token %}
                            <div class="row">
                                <p id="reward-result" class="mt-1 mb-2" style="font-size:14px;">Collect your daily rewards!</p>
                            </div>
                            <div class="row">
                                <div class="col-12"><button class="btn btn-success btn-lg d-block w-100" type="submit" hx-post="/player/daily/reward/" hx-trigger="click delay:200ms" hx-target="#reward-result" hx-swap="innerHTML" onkeydown="return event.key != 'Enter';">Collect</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}