{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Notifications</h2>
                <form>
                    {% csrf_token %}
                    <div class="row mt-0 p-5" id="noti-status">
                        {% include 'main/ajax/notification_list_fragment.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}