button {
    margin-top: 10px;
}

form {
    padding: 10px;
    border: solid 1px black;
}

form select {
    margin-top: 5px;
}

.infoGroup {
    padding: 10px;
    border: solid 1px black;
    margin-bottom: 5px;
}

#status {
    margin-bottom: 5px;
}