{% extends 'main/base.html' %}

{% block content %}

    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3">PLAYERS</h2>
                        <p class="mb-4">Welcome to our players page, this is where you can view each player individually.</p>
                        <input type="search" placeholder="Search players" class="form-control"></input>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            {% for player in players %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">[{{ player.id }}] {{ player.first_name }} {{ player.last_name }}</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{ player.current_team }}</h6><a class="card-link" href="{% url 'player' player.id %}" ">View players page</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}