{% extends 'main/base.html' %}
{% load static %}
{% load main_filters %}

{% block title %}
    <!-- <link rel="stylesheet" href="{% static 'main/css/players/upgrade.css' %}"> -->
{% endblock %}

{% block content %}

    <!-- upgrades -->
    <div class="container">
        <form action="/player/upgrade/{{ player.id }}/" method="post">

            {% csrf_token %}

            <!-- cart/price details -->
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="mb-0">My Cart</h5>
                    <p id="status" class="mb-0"></p>
                </div>
                <div class="card-body">
                    <p class="card-text mb-0">My Cash<br><b>$<span id="cash">0</b></span></p>
                    <p class="card-text mb-0">Spending<br><b>$<span id="price">0</b></span></span></p>
                    <p class="card-text mb-0">Leftover<br><b>$<span id="cashLeft">0</span></b></p>
                    <hr>
                    <!-- Continue/False-Submit Button -->
                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
                        Purchase
                    </button>
                    <!-- Confirmation Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Confirm Purchase</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <p class="mb-4"><b>Are you sure you want to continue with this upgrade?</b></p>
                                <ul class="container list-group mt-2" id="cartList" style="list-style-type: none; padding: 0px; margin: 0px;">
                                </ul>
                                <p class="mt-4"><b>Total Price: </b><span id="confirmationPrice"></span></p>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <input type="submit" value="Purchase" id="submitButton" class="btn btn-success btn-sm">
                                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            </div>
                        </div>
                      </div>
                    <!-- Errors & Messages -->
                    {{ upgrade_player_form.non_field_errors }}
                    {% if messages %}
                        <hr>
                        <div class="container">
                            {% for message in messages %}
                                <span  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </span><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        
            <!-- attributes -->
            <div id="accordion-1" class="accordion mt-2" role="tablist">
                <div class="accordion-item">
                    <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Attributes</button></h2>
                    <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Attributes</h5>
                                <p>Below you find the categorized attributes for your player.</p>
                            </div>
                        </div>
                        <!-- finishing attributes -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Finishing Attributes</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in finishing_attributes %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- shooting attributes -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Shooting Attributes</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in shooting_attributes %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- playmaking attributes -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Playmaking Attributes</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in playmaking_attributes %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- defense attributes -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Defense Attributes</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in defense_attributes %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- badges -->
            <div id="accordion-2" class="accordion mt-2" role="tablist">
                <div class="accordion-item">
                    <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-2 .item-1" aria-expanded="true" aria-controls="accordion-2 .item-1">Badges</button></h2>
                    <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-2">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Badges</h5>
                                <p>Below you find the categorized badges for your player.</p>
                            </div>
                        </div>
                        <!-- finishing badges -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Finishing Badges</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in finishing_badges %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- shooting badges -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Shooting Badges</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in shooting_badges %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- playmaking badges -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Playmaking Badges</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in playmaking_badges %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- defense badges -->
                        <div class="card mt-2">
                            <div class="card-header">
                                <h5 class="mb-0">Defense Badges</h5>
                                <p id="status" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    {% for field in upgrade_player_form %} 
                                        {% if field.label in defense_badges %}
                                            <div class="col-md-2">
                                                {{ field.errors }}
                                                {{ field.label }}<br>
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- scripts -->
    <script>
        const attributePrices = {{ attribute_prices|safe }};
        const badgePrices = {{ badge_prices|safe }};
        const badgeAttributes = {{ badge_attributes|safe }};
        const cash = {{ player.cash }}
    </script>
    <script src="{% static 'main/js/players/updatePrice.js' %}"></script>

{% endblock %}