<div>
    {% if randomize_data %}
        <h2>Randomized!</h2>
        <b>Position</b> <br>{{ randomize_data.position }}<br>
        <b>Height</b> <br>{{ randomize_data.height }}<br>
        <b>Weight</b> <br>{{ randomize_data.weight }}<br>
    {% endif %}
</div>
<hr>
<div>
    <p>Primary & secondary attributes will cost considerably less to upgrade.</p>
    {% for k, v in primary_attributes.items %}
        <div class="col-md-3">
            <b><span class="text-success">[P]</span></b> <b>{{ v }}</b> {{ k }} 
        </div>
    {% endfor %}
    {% for k, v in secondary_attributes.items %}
        <div class="col-md-3">
            <b><span class="text-primary">[S]</span></b> <b>{{ v }}</b> {{ k }} 
        </div>
    {% endfor %}
    {% for k, v in base_attributes.items %}
        <div class="col-md-3">
            <b>{{ v }}</b> {{ k }} 
        </div>
    {% endfor %}
</div>
<div class="mt-2 mb-5">
    <p>Primary & secondary badges will cost considerably less to upgrade.</p>
    {% for badge, type in badges.items %}
        <div class="col-md-3">
            {% if type == "[P]" %} 
                <b><span class="text-success">{{ type }}</span></b> {{ badge }}
            {% elif type == "[S]" %}
                <b><span class="text-primary">{{ type }}</span></b> {{ badge }}
            {% endif %}
        </div>
    {% endfor %}
</div>