{% extends 'main/base.html' %}
{% load main_filters %}

{% block content %}

    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h2 class="text-uppercase fw-bold mb-3">CREATE A PLAYER</h2>
                        <p class="mb-4">Create a player by filling out the form below.</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                        <div class="card mb-5">
                            <div class="card-body p-sm-5">
                                <h3 class="text-uppercase fw-bold mb-2">REGISTER</h3>
                                <form action="/player/create/" method="post">
                                    {% csrf_token %}
                                    <!-- First & Last names -->
                                    <div class="">
                                        <label for="first_name" class="label label-primary">First Name</label>
                                        {{ create_player_form.first_name|addclass:"form-control form-control-sm mb-2" }}
                                        <label for="last_name" class="label label-primary">Last Name</label>
                                        {{ create_player_form.last_name|addclass:"form-control form-control-sm mb-2" }}
                                    </div>
                                    <!-- Height & Weight -->
                                    <div class="">
                                        <label for="height" class="label label-primary">Height</label>
                                        {{ create_player_form.height|addclass:"form-control form-control-sm mb-2" }}
                                        <label for="weight" class="label label-primary">Weight</label>
                                        {{ create_player_form.weight|addclass:"form-control form-control-sm mb-2" }}
                                    </div>
                                    <!-- Positions & Jersey Number -->
                                    <div class="">
                                        <label for="primary_position" class="label label-primary">Primary Position</label>
                                        {{ create_player_form.primary_position|addclass:"form-control form-control-sm mb-2" }}
                                        <label for="secondary_position" class="label label-primary">Secondary Position</label>
                                        {{ create_player_form.secondary_position|addclass:"form-control form-control-sm mb-2" }}
                                        <label for="jersey_number" class="label label-primary">Jersey Number</label>
                                        {{ create_player_form.jersey_number|addclass:"form-control form-control-sm mb-2" }}
                                    </div> 
                                    <input type="submit" class="btn btn-success mt-1" value="Create Player">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}