{% extends 'main/base.html' %}
{% load static %}
{% load main_filters %}
{% load mathfilters %}

{% block content %}
    <!-- headers -->
    <div class="container py-4 py-xl-5">
        <div class="row mb-0">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>{{ name }}</h2>
                <p>UPGRADE LOGS</p>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- every log gets an accordion -->
                {% if logs|length > 0 %}
                    {% for log in logs %}
                        <div id="accordion-{{ forloop.counter }}" class="accordion mb-1" role="tablist">
                            <div class="accordion-item">
                                <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ forloop.counter }} .item-1" aria-expanded="true" aria-controls="accordion-{{ forloop.counter }} .item-1">{{ log.timestamp }}</button></h2>
                                <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-{{ forloop.counter }}">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <p><b>Cost: </b>💵 ${{ log.cost }}</p>
                                            <!-- attributes table -->
                                            {% if log.data.attributes.items|length > 0 %}
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>🟥 Old</th>
                                                            <th>🟩 New</th>
                                                            <th>📈 Trend</th>
                                                            <th>💵 Cost</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <p><b>Attributes</b></p>
                                                        {% for k, v in log.data.attributes.items %}
                                                            <tr>
                                                                <td>{{ k }}</td>
                                                                <td>{{ v.old }}</td>
                                                                <td>{{ v.new }}</td>
                                                                <td>+{{ v.new|sub:v.old }}</td>
                                                                <td>${{ v.cost }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                            <!-- badges table -->
                                            {% if log.data.badges.items|length > 0 %}
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>🟥 Old</th>
                                                            <th>🟩 New</th>
                                                            <th>📈 Trend</th>
                                                            <th>💵 Cost</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <p><b>Badges</b></p>
                                                        {% for k, v in log.data.badges.items %}
                                                            <tr>
                                                                <td>{{ k }}</td>
                                                                <td>{{ v.old }}</td>
                                                                <td>{{ v.new }}</td>
                                                                <td>+{{ v.new|sub:v.old }}</td>
                                                                <td>${{ v.cost }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="container py-4 py-xl-5">
                        <div class="row mb-0">
                            <div class="col-md-8 col-xl-6 text-center mx-auto">
                                <h3>😮 NO UPGRADE LOGS FOUND</h3>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}