{% extends 'main/base.html' %}
{% load static %}
{% load main_filters %}

{% block content %}

    <div class="container-fluid" style="padding: 25px;">
        <h2 class="text-uppercase fw-bold mb-3 mt-3" style="text-align: center;">{{ player.first_name}} {{ player.last_name}}</h2>
        <p style="text-align: center;">
            <!-- Upgrade & upgrade logs -->
            <a class="btn btn-success btn-sm" href="{% url 'upgrade_player' player.id %}">Upgrade player</a>
            <a class="btn btn-success btn-sm" href="{% url 'upgrade_logs' player.id %}">Upgrade history</a>
            <a class="btn btn-success btn-sm" href="{% url 'cash_logs' player.id %}">Cash history</a>
            <!-- Player file -->
            <button id="file" type="button" class="copyJSON btn btn-primary btn-sm" onClick="clipboard(this.id)">Copy File</button>
            <p id="json_file" class="file" style="font-size: 6px; display: none;">{{ file }}</p>
            <!-- Upgrades pending? -->
            {% if player.upgrades_pending %}
                <p class="fw-bold text-danger text-center">Pending upgrades</p>
            {% else %}
                <p class="fw-bold text-success text-center">No pending upgrades</p>
            {% endif %}
        </p>
    </div>

    <hr>

    <div class="container-fluid" style="padding: 25px;">
        <!-- Add form to pay player if user.can_update_players -->
        {% if user.can_update_players %}
            <div class="container">
                <div class="row">
                    <!-- Pay players -->
                    <div class="col-6 mb-2">
                        <div class="card">
                            <div class="card-header">
                                <h3><span class="panel-title-text">Add Cash</span></h3>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'add_player_cash' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ player.id }}">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <!-- Text area for adding cash -->
                                            <input name="amount" class="form-control mb-1" type="number" required placeholder="Enter cash amount"/>
                                            <input name="reason" class="form-control" type="text" required placeholder="Enter reason"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12"><button class="btn btn-success btn-sm d-block w-100" type="submit">Add cash</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Fine players -->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3><span class="panel-title-text">Take Cash</span></h3>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'take_player_cash' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ player.id }}">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <!-- Text area for adding cash -->
                                            <input name="amount" class="form-control mb-1" type="number" required placeholder="Enter cash amount"/>
                                            <input name="reason" class="form-control" type="text" required placeholder="Enter reason"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12"><button class="btn btn-danger btn-sm d-block w-100" type="submit">Take cash</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container-fluid mb-5" style="padding: 100px; padding-top: 0px; padding-bottom: 10px;">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p><b>Full Name</b></p><hr>
                    <p>{{ player.first_name }} {{ player.last_name }}</p>
                </div>
                <div class="col-md-2">
                    <p><b>Height</b></p><hr>
                    <p>{{ height_in_feet }}</p>
                </div>
                <div class="col-md-2">
                    <p><b>Weight</b></p><hr>
                    <p>{{ player.weight }}</p>
                </div>
                <div class="col-md-2">
                    <p><b>Position</b></p><hr>
                    <p>{{ player.primary_position }}/{{ player.secondary_position }}</p>
                </div>
                <div class="col-md-2">
                    <p><b>Team</b></p><hr>
                    <p>{{ player.current_team.abbrev }}</p>
                </div>
                <div class="col-md-2">
                    <p><b>Spent</b></p><hr>
                    <p>${{ player.spent }}</p>
                </div>
                <!-- Editable player details -->
                <div class="row mb-3">
                    <!-- Editable by player owner -->
                    {% if player.discord_user == user %}
                        <form action="{% url 'update_player_vitals' player.id %}" method="POST">
                            {% csrf_token %}
                            <!-- Put jersey and cyberface horizontall -->
                            <div class="row">
                                <div class="col-md-2">
                                    <p><b>Jersey</b></p><hr>
                                    <input name="jersey" class="form-control mb-2" type="number" style="width: 50%;" value="{{ player.jersey_number }}"/>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Cyberface</b></p><hr>
                                    <input name="cyberface" class="form-control mb-2" type="number" style="width: 50%;" value="{{ player.cyberface }}"/>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Use Game Tendencies</b></p><hr>
                                    <select class="form-select mb-2" name="use_game" style="width: 50%">
                                        <option value="{{ player.use_game_tendencies }}">{{ player.use_game_tendencies }}</option>
                                        {% if player.use_game_tendencies %}
                                            <option value="False">False</option>
                                        {% else %}
                                            <option value="True">True</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <br>
                                <!-- Play styles -->
                                <div class="col-md-2">
                                    <p><b>Play Style #1</b></p><hr>
                                    <select class="form-select mb-2" name="playstyle1" style="width: 50%">
                                        <option value="{{ playstyle1.1 }}">{{ playstyle1.0 }}</option>
                                        {% for i, playstyle in playstyles.items %}
                                            {% if not playstyle == playstyle1.0 %}
                                                <option value="{{ i }}">{{ playstyle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Play Style #2</b></p><hr>
                                    <select class="form-select mb-2" name="playstyle2" style="width: 50%">
                                        <option value="{{ playstyle2.1 }}">{{ playstyle2.0 }}</option>
                                        {% for i, playstyle in playstyles.items %}
                                            {% if not playstyle == playstyle2.0 %}
                                                <option value="{{ i }}">{{ playstyle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Play Style #3</b></p><hr>
                                    <select class="form-select mb-2" name="playstyle3" style="width: 50%">
                                        <option value="{{ playstyle3.1 }}">{{ playstyle3.0 }}</option>
                                        {% for i, playstyle in playstyles.items %}
                                            {% if not playstyle == playstyle3.0 %}
                                                <option value="{{ i }}">{{ playstyle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <p><b>Play Style #4</b></p><hr>
                                    <select class="form-select mb-2" name="playstyle4" style="width: 50%">
                                        <option value="{{ playstyle4.1 }}">{{ playstyle4.0 }}</option>
                                        {% for i, playstyle in playstyles.items %}
                                            {% if not playstyle == playstyle4.0 %}
                                                <option value="{{ i }}">{{ playstyle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm mt-2" type="submit" onkeydown="return event.key != 'Enter';">Update</button>
                        </form>
                    {% else %}
                        <div class="col-md-2">
                            <p><b>Jersey</b></p><hr>
                            <p>#{{ player.jersey_number }}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Cyberface</b></p><hr>
                            <p>{{ player.cyberface }}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Use Game Tendencies</b></p><hr>
                            <p>{{ player.use_game_tendencies }}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Play Style #1</b></p><hr>
                            <p>{{ playstyle1.0 }}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Play Style #2</b></p><hr>
                            <p>{{ playstyle2.0 }}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Play Style #3</b></p><hr>
                            <p>{{ playstyle3.0 }}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Play Style #4</b></p><hr>
                            <p>{{ playstyle4.0 }}</p>
                        </div>
                    {% endif %}
                </div>
                <!-- Trait & archetype information -->
                <hr>
                <p class="mb-0"><b>Trait 1:</b> {{ player.trait_one }}</p>
                <p class="mb-0"><b>Trait 2:</b> {{ player.trait_two }}</p>
                {% if player.primary_archetype != player.secondary_archetype %}
                <p class="mb-0"><b>Archetypes:</b> {{ player.primary_archetype }} {{ player.secondary_archetype }}</p>
                {% else %}
                <p class="mb-0"><b>Archetype:</b> {{ player.primary_archetype }}</p>
                {% endif %}
                <p class="mb-0"><b>Creator:</b> {{ player.discord_user.discord_tag }}</p>
                <p><b>Week Earnings:</b> ${{ week_earnings }}</p>
                <!-- Contract details -->
                <hr>
                <p class="mb-0"><b>Contract Salary:</b> ${{ player.salary }}</p>
                <p class="mb-0"><b>Contract Expires:</b> <i></i> Season {{ player.contract_ends_after }}</p>
                <p class="mb-0"><b>Contract Option:</b> {{ player.contract_option }}</p>
                <p class="mb-0"><b>Contract Benefits:</b> {{ player.contract_benefits }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding: 100px; padding-top: 0px; padding-bottom: 10px;">

        <hr>

        <div class="container">
            <div class="row">
                {% for k, v in player.attributes.items %} 
                    {% if k in finishing_attributes %}
                        <div class="col-md-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p><p>{{ v }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for k, v in player.attributes.items %} 
                    {% if k in shooting_attributes %}
                        <div class="col-md-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p><p>{{ v }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                {% for k, v in player.attributes.items %} 
                    {% if k in playmaking_attributes %}
                        <div class="col-md-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p><p>{{ v }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for k, v in player.attributes.items %} 
                    {% if k in defense_attributes %}
                        <div class="col-md-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p><p>{{ v }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for k, v in player.attributes.items %} 
                    {% if k in physical_attributes %}
                        <div class="col-md-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p><p>{{ v }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-5" style="padding: 100px; padding-top: 0px; padding-bottom: 10px;">

        <hr>

        <div class="container">
            <div class="row">
                {% for k, v in player.badges.items %} 
                    {% if k in finishing_badges %}
                        <div class="col-md-2 mb-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p>
                            {% if v == 0 %}
                                {{ badgeEmojis.0 }} Unequipped
                            {% elif v == 1 %}
                                {{ badgeEmojis.1 }} Bronze
                            {% elif v == 2 %}
                                {{ badgeEmojis.2 }} Silver
                            {% elif v == 3 %}
                                {{ badgeEmojis.3 }} Gold
                            {% elif v == 4 %}
                                {{ badgeEmojis.4 }} Hall of Fame
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
        </div>


        <div class="container">
            <div class="row">
                {% for k, v in player.badges.items %} 
                    {% if k in shooting_badges %}
                        <div class="col-md-2 mb-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p>
                            {% if v == 0 %}
                                {{ badgeEmojis.0 }} Unequipped
                            {% elif v == 1 %}
                                {{ badgeEmojis.1 }} Bronze
                            {% elif v == 2 %}
                                {{ badgeEmojis.2 }} Silver
                            {% elif v == 3 %}
                                {{ badgeEmojis.3 }} Gold
                            {% elif v == 4 %}
                                {{ badgeEmojis.4 }} Hall of Fame
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                {% for k, v in player.badges.items %} 
                    {% if k in playmaking_badges %}
                        <div class="col-md-2 mb-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p>
                            {% if v == 0 %}
                                {{ badgeEmojis.0 }} Unequipped
                            {% elif v == 1 %}
                                {{ badgeEmojis.1 }} Bronze
                            {% elif v == 2 %}
                                {{ badgeEmojis.2 }} Silver
                            {% elif v == 3 %}
                                {{ badgeEmojis.3 }} Gold
                            {% elif v == 4 %}
                                {{ badgeEmojis.4 }} Hall of Fame
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                {% for k, v in player.badges.items %} 
                    {% if k in defense_badges %}
                        <div class="col-md-2 mb-2">
                            <p class="mt-0 mb-1"><b>{{ k }}</b></p>
                            {% if v == 0 %}
                                {{ badgeEmojis.0 }} Unequipped
                            {% elif v == 1 %}
                                {{ badgeEmojis.1 }} Bronze
                            {% elif v == 2 %}
                                {{ badgeEmojis.2 }} Silver
                            {% elif v == 3 %}
                                {{ badgeEmojis.3 }} Gold
                            {% elif v == 4 %}
                                {{ badgeEmojis.4 }} Hall of Fame
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <hr>

    </div>

    <div class="container-fluid mt-5" style="padding: 100px; padding-top: 0px; padding-bottom: 10px;">
        <div class="container">
            <div class="row">
                {% for k, v in player.tendencies.items %} 
                    <div class="col-md-4 mb-2">
                        <p class="mt-0 mb-1"><b>{{ k }}</b></p>
                        <p>{{ v }}</p>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>

    <script src="{% static 'main/js/players/copyJSON.js' %}"></script>

{% endblock %}