{% extends 'main/base.html' %}

{% block content %}

    <section class="py-4 py-xl-5">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <form>
                            {% csrf_token %}
                            <h2 class="text-uppercase fw-bold mb-3">TEAMS</h2>
                            <p class="mb-4">Welcome to our teams page, this is where you can view team player individually.</p>
                            <input type="search" name="search" placeholder="Search teams" class="form-control" hx-post="/teams/search/" hx-trigger="keyup delay:200ms" hx-target="#search-results" hx-swap="innerHTML" onkeydown="return event.key != 'Enter';"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row" id="search-results">
            {% include 'main/ajax/team_list_fragment.html' %}
        </div>
    </div>

    <div class="container mt-2">
        <ul class="pagination">
            {% if page.has_previous %} 
                <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ page.previous_page_number }}"><span aria-hidden="true">Back</span></a></li>
            {% endif %}
            {% for page in page.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{ page.next_page_number }}"><span aria-hidden="true">Next</span></a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}