{% extends 'main/base.html' %}

{% block content %}

    <h2 class="text-uppercase fw-bold mb-3 mt-3" style="text-align: center;">{{ team.name }}</h2>
    <!-- Container that puts item in middle -->

    <div class="container ">
        <!-- Team logo with static height and width -->
        <img src="{{ team.logo }}" alt="Team logo" class="img-fluid mb-4" style="height: 200px; width: 200px; display: block; margin-left: auto; margin-right: auto;">
        <p class="mb-2" style="text-align: center;">Welcome to the <b>{{ team.name }}</b> team page!</p>
        <p class="mb-2" style="text-align: center;"><b>General Manager<br></b>{{ team.manager }}</p>
        <p style="text-align: center;">{% for player in team.player_set.all %}<a href="{% url 'player' player.id %}">{{ player.first_name }} {{ player.last_name }}</a> | {% endfor %}</p>
        <!-- Make trades button -->
        <div class="text-center">
            <a href="{% url 'trade' %}" class="btn btn-primary">Make Trades</a>
        </div>
    </div>

{% endblock %}