<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col" style="text-transform: capitalize;">PLAYER</th>
            <th scope="col" style="text-transform: capitalize;">GP</th>
            {% for header in sort_options %} 
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for player_data in sorted_stats %}
            <tr>
                <td>{{ player_data.1.name }}</td>
                <td>{{ player_data.1.full_year_stats.totals.GP }}</td>
                {% if index_to_use == 'averages' %}
                    <td>{{ player_data.1.full_year_stats.averages.PPG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.RPG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.APG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.SPG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.BPG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.TPG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.FPG }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.FGP }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.3PP }}</td>
                    <td>{{ player_data.1.full_year_stats.averages.FTP }}</td>
                {% elif index_to_use == 'totals' %}
                    <td>{{ player_data.1.full_year_stats.totals.PTS }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.REB }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.AST }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.STL }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.BLK }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.TOV }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.PF }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.FGM }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.FGA }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.3PM }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.3PA }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.FTM }}</td>
                    <td>{{ player_data.1.full_year_stats.totals.FTA }}</td>
                {% elif index_to_use == 'advanced' %}
                    <td>{{ player_data.1.full_year_stats.advanced.GMSC }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>