<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col" style="text-transform: capitalize;">PLAYER</th>
            <th scope="col" style="text-transform: capitalize;">GP</th>
            {% for header in sort_options %} 
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for player_data in sorted_stats %}
            <tr>
                <td>{{ player_data.1.name }}</td>
                <td>{{ player_data.1.yearly_stats.totals.gp }}</td>
                {% if index_to_use == 'averages' %}
                    <td>{{ player_data.1.yearly_stats.averages.gmsc }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.ppg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.rpg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.apg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.spg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.bpg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.tpg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.fpg }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.fgp }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.tpp }}</td>
                    <td>{{ player_data.1.yearly_stats.averages.ftp }}</td>
                {% elif index_to_use == 'totals' %}
                    <td>{{ player_data.1.yearly_stats.totals.pts }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.reb }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.ast }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.stl }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.blk }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.tov }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.fouls }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.fgm }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.fga }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.tpm }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.tpa }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.ftm }}</td>
                    <td>{{ player_data.1.yearly_stats.totals.fta }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>