<div id="team_container">    

    
    <!-- Home team players -->
    <div id="home_team" class="col-6 mb-1">
        <p class="fw-bold">Home Team</p>
        <select class="mb-1 form-control" name="home_team" hx-post="{% url 'stats:check_stats_roster' %}" hx-trigger="change" hx-target="#team_container" hx-swap="outerHTML"><br>
            <option value="{{ home_team.id }}" selected>{{ home_team.name }}</option>
            {% for team in teams %}
                {% if not team.id == home_team.id and not team.id == user_team.id %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <!-- Away team players -->
    <div id="away_team" class="col-6 mb-1">
        <p class="fw-bold">Away Team</p>
        <select class="mb-1 form-control" name="away_team" hx-post="{% url 'stats:check_stats_roster' %}" hx-trigger="change" hx-target="#team_container" hx-swap="outerHTML"><br>
            <option value="{{ away_team.id }}" selected>{{ away_team.name }}</option>
            {% for team in teams %}
                {% if not team.id == away_team.id and not team.id == user_team.id %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <!-- Game data carousel -->
    <div class="container">
        {% if home_team and away_team %}
            <!-- Score data -->
            <div class="row">
                <h2 class="mt-3 mb-3">Score Breakdown</h2>
                <div class="col-4 mb-1">
                    <input type="number" class="form-control" name="home_score" placeholder="{{ home_team.abbrev }} score">
                </div>
                <div class="col-4 mb-1">
                    <input type="number" class="form-control" name="away_score" placeholder="{{ away_team.abbrev }} score">
                </div>
                <div class="col-4 mb-1">
                    <input type="number" class="form-control" name="day" placeholder="Day #">
                </div>
                <div class="col-4 mt-1 mb-1">
                    <select class="form-control" name="game_type">
                        <option value="PRE">Preseason</option>
                        <option value="REG" selected>Regular Season</option>
                        <option value="PLY">Playoffs</option>
                        <option value="FIN">Finals</option>
                    </select>
                </div>
            </div>
            <!-- Home Team -->
            <h2 class="mt-2 mb-2">Home Team</h2>
            <hr>
            <!-- Home team data -->
            {% for player in home_team.player_set.all %}
                <hr>
                <div class="container">
                    <p>Enter data for <b>{{ player.first_name }} {{ player.last_name }}</b></p>
                    <div class="row">
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_reb" placeholder="REB">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_ast" placeholder="AST">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_stl" placeholder="STL">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_blk" placeholder="BLK">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_tov" placeholder="TOV">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fgm" placeholder="FGM">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fga" placeholder="FGA">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_3pm" placeholder="3PM">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_3pa" placeholder="3PA">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_ftm" placeholder="FTM">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fta" placeholder="FTA">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_oreb" placeholder="OREB">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fouls" placeholder="FOULS">
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h2 class="mt-2 mb-2">Away Team</h2>
            <!-- Away team data -->
            {% for player in away_team.player_set.all %}
                <hr>
                <div class="container">
                    <p>Enter data for <b>{{ player.first_name }} {{ player.last_name }}</b></p>
                    <div class="row">
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_reb" placeholder="REB">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_ast" placeholder="AST">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_stl" placeholder="STL">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_blk" placeholder="BLK">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_tov" placeholder="TOV">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fgm" placeholder="FGM">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fga" placeholder="FGA">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_3pm" placeholder="3PM">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_3pa" placeholder="3PA">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_ftm" placeholder="FTM">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fta" placeholder="FTA">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_oreb" placeholder="OREB">
                        </div>
                        <div class="col-6 mb-1">
                            <input type="number" class="form-control" name="{{ player.id }}_fouls" placeholder="FOULS">
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <!-- Submission -->
            <div class="container mb-5">
                <h2>Submit Stats</h2>
                <p>When you're all done, submit these game stats for validation.</p>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#submitModal">
                    Submit Stats
                </button>
            </div>
        {% endif %}
    </div>

</div>