{% extends 'stats/base.html' %}
{% block content %}
<!-- Add game page -->
<div class="container mt-5">
    <!-- Hoopsim stats index -->
    <h1>Hoopsim Stats</h1>
    <p>We are currently in Season {{ current_season.id }}.</p>
    <hr>
    <p>Welcome to the Hoopsim Stats hub.</p>
    <hr>
    <!-- Season viewer -->
    <div class="container">
        <h2>Season Viewer</h2>
        {% for season, data in all_seasons.items %}
            <div class="card mt-3 mb-3 p-3">
                <td><a href="{% url 'stats:view_season' data.id %}">Season {{ data.id }}</a></td>
            </div>
        {% endfor %}
    </div>
    <hr>
    <!-- Recent games -->
    <div class="container">
        <h2>Recent Games</h2>
        {% for game in recent_games %} 
        <!-- Make a card for each game -->
        <div class="card mt-3 mb-3 p-3">
            <td><a href="{% url 'stats:view_game' game.id %}">{{ game }}</a></td>
            <p class="mb-0"><b>{{ game.winner.name }}</b> beat <b>{{ game.loser.name }}</b></p>
        </div>
        {% endfor %}
    </div>
    <hr>
    <!-- Current standings -->
    <div class="container mb-5">
        <h2>Standings</h2>
        <p>Season {{ current_season.id }}</p>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <th scope="col">TEAM</th>
                <th scope="col">G</th>
                <th scope="col">W</th>
                <th scope="col">L</th>
                <th scope="col">GB</th>
                <th scope="col">PCT</th>
                <th scope="col">PF</th>
                <th scope="col">PA</th>
                <th scope="col">DIFF</th>
            </thead>
            <tbody>
                {% for team, team_data in current_season.standings.items %}
                    <tr>
                        <td><a href="#">{{ team }}</a></td>
                        <td>{{ team_data.total_games }}</td>
                        <td>{{ team_data.wins }}</td>
                        <td>{{ team_data.losses }}</td>
                        <td>{{ team_data.games_behind }}</td>
                        <td>{{ team_data.percentage }}</td>
                        <td>{{ team_data.avg_points_for }}</td>
                        <td>{{ team_data.avg_points_against }}</td>
                        <td>{{ team_data.avg_points_diff }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
</div>
{% endblock %}