{% extends 'stats/base.html' %}
{% block content %}
<!-- Add game page -->
<div class="container mt-5">
    <!-- Game title -->
    <h1>Season {{ season }}</h1>
    <!-- Sort types -->
    <form>
        {% csrf_token %}
        <!-- Sort type chooser -->
        <select name="sort_type" class="form-control mt-1" hx-post="{% url 'stats:find_options' %}" hx-trigger="click" hx-target="#sort_options" hx-swap="innerHTML">
            <option value="averages">Averages</option>
            <option value="totals">Totals</option>
        </select>
    </form>
    <!-- Sort options -->
    <form>
        {% csrf_token %}
        <!-- Current season -->
        <input type="hidden" name="season" value="{{ season }}">
        <!-- Season type chooser -->
        <select name="season_type" class="form-control mt-1">
            <option value="REG">Season</option>
            <option value="PLY">Playoffs</option>
            <option value="FIN">Finals</option>
        </select>
        <!-- Position chooser -->
        <select name="pos_type" class="form-control mt-1">
            <option value="ALL">All positions</option>
            <option value="PG">Point Guard</option>
            <option value="SG">Shooting Guard</option>
            <option value="SF">Small Forward</option>
            <option value="PF">Power Forward</option>
            <option value="C">Center</option>
        </select>
        <!-- Trait chooser -->
        <select name="trait_type" class="form-control mt-1">
            <option value="ALL">All traits</option>
            <option value="Movement Shooter">Movement Shooter</option>
            <option value="3PT Shooter">3PT Shooter</option>
            <option value="Midrange Menace">Midrange Menace</option>
            <option value="Finesse Finisher">Finesse Finisher</option>
            <option value="Fierce Finisher">Fierce Finisher</option>
            <option value="Ankle Snatcher">Ankle Snatcher</option>
            <option value="Passing Maestro">Passing Maestro</option>
            <option value="Rebound Hound">Rebound Hound</option>
            <option value="Interior Anchor">Interior Anchor</option>
            <option value="Perimeter Lockdown">Perimeter Lockdown</option>
            <option value="Post-Up Powerhouse">Post-Up Powerhouse</option>
            <option value="Dribble Driver">Dribble Driver</option>
            <option value="Post-Up Conductor">Post-Up Conductor</option>
        </select>
        <!-- Status chooser -->
        <select name="status_type" class="form-control mt-1">
            <option value="ALL">All types</option>
            <option value="ACTIVE">Active</option>
            <option value="ROOKIE">Rookie</option>
            <option value="FREEAGENT">Free Agent</option>
        </select>
        <!-- Sort option chooser -->
        <div id="sort_options">
            {% include 'stats/ajax/sort_options_fragment.html' %}
        </div>
        <!-- Update button -->
        <button class="btn btn-primary btn-sm mt-1" type="submit" hx-post="{% url 'stats:sort_stats' 1 %}" hx-trigger="click" hx-target="#sorted_stats_table" hx-swap="innerHTML" hx-include="[name='season']">Update</button>
        <!-- Sorted table fragment -->
        <div id="sorted_stats_table" class="mt-2">
            <p>Choose options to display sorted player statistics.</p>
        </div>
        <!-- Table pagination -->
        <div class="mt-2" style="padding: 0px;">
            <ul class="pagination">
                {% for page_number in page.paginator.page_range %}
                    <li class="page-item"><button class="page-link text-white" aria-label="{{ page_number }}" hx-post="{% url 'stats:sort_stats' page_number %}" hx-trigger="click" hx-target="#sorted_stats_table" hx-swap="innerHTML" hx-include="[name='season']">{{ page_number }}</button></li>
                {% endfor %}
            </ul>
        </div>
    </form>
        
</div>
{% endblock %}