<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- Favicon for digital ocean -->
        <link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'main/favicon.png' %}">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/fonts/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/Navbar-Right-Links-Dark-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/home-styles.css' %}">
        <!-- Scripts -->
        <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.8.6" defer></script>
        <!-- Content block -->
        {% block title %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><img class="rounded-circle" src="https://i.imgur.com/R9zJu3s.png" style="height:30px; width:30px; margin-right: 5px;"></i></span><span>HOOPSIM </span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-5">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/players">Players</a></li>
                        <li class="nav-item"><a class="nav-link" href="/teams">Teams</a></li>
                    </ul>
                    {% if current_user.is_authenticated != False %}
                        <a class="btn btn-primary btn-sm ms-md-2" role="button" href="/logout">Logout</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm ms-md-2" role="button" href="/login/discord">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Messages -->
        {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <!-- Block content -->
        {% block content %}{% endblock %}
    </body>
</html>