 
 {% extends 'main/base.html' %}

 {% block content %}
    <div class="container mt-5">
        <div class="row .payment-dialog-row">
            <div class="col-12 col-md-4 offset-md-4">
                <div class="card credit-card-box">
                    <div class="card-header">
                        <h3><span class="panel-title-text">Redeem Coupon</span></h3>
                    </div>
                    <div class="card-body">
                        <form>
                            {% csrf_token %}
                            <div class="row">
                                <b><p id="coupon-result" class="mt-1" style="font-size:12px;">Enter a coupon code to receive prizes!</p></b>
                                <div class="col-7">
                                    <!-- Add a select for player_list that shows all players -->
                                    <select class="form-select mb-2" name="id">
                                        {% for player in player_list %}
                                            <option value="{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- Text area for coupon codes -->
                                    <div class="form-group mb-3">
                                        <input id="coupon" name="coupon" class="form-control" type="tel" required placeholder="Enter coupon code" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12"><button class="btn btn-success btn-lg d-block w-100" type="submit" hx-post="/coupons/redeem/" hx-trigger="click delay:200ms" hx-target="#coupon-result" hx-swap="outerHTML" onkeydown="return event.key != 'Enter';">Redeem</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}