{% extends 'main/base.html' %}
{% load main_filters %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="container border outline-dark mt-2 mb-2 p-5" id="position-counts">
        <h2 class="mt-2 mb-2">Demographic</h2><hr class="mt-1 mb-1">
        <p class="mt-0 mb-0">Total Players<br>{{ position_counts.Total }}</p><hr class="mt-1 mb-1">
        <p class="mt-0 mb-0">Point Guard<br>{{ position_counts.PG }}</p>
        <p class="mt-0 mb-0">Shooting Guard<br>{{ position_counts.SG }}</p>
        <p class="mt-0 mb-0">Small Forward<br>{{ position_counts.SF }}</p>
        <p class="mt-0 mb-0">Power Forward<br>{{ position_counts.PF }}</p>
        <p class="mt-0 mb-2">Center<br>{{ position_counts.C }}</p>
    </div>
</div>

<div class="container mt-2 mb-5">
    <div class="container border outline-dark mt-2 mb-2 p-5" id="custom-search">
        <h2>Custom Search</h2>
        <form>
            {% csrf_token %}
            <label for="type">Search position counts based on player types.</label>
            <select class="form-select mt-2 mb-2" name="position" hx-post="/positions/count/" hx-trigger="change" hx-target="#count-results" hx-swap="innerHTML">
                <option name="PG" value="PG">Point Guard</option>
                <option name="SG" value="SG">Shooting Guard</option>
                <option name="SF" value="SF">Small Forward</option>
                <option name="PF" value="PF">Power Forward</option>
                <option name="C" value="C">Center</option>
            </select>
            <select class="form-select mt-2 mb-1" name="type" hx-post="/positions/count/" hx-trigger="change" hx-target="#count-results" hx-swap="innerHTML">
                <option name="unsigned" value="unsigned">Unsigned players</option>
                <option name="signed" value="signed">Signed players</option>
            </select>
        </form>
        <p class="mt-4" id="count-results"></p>
    </div>
</div>
<div class="container mt-2 mb-5">
    <div class="container border outline-dark mt-2 mb-2 p-5" id="field-leaders">
        <h2>Leaders</h2>
        <form>
            {% csrf_token %}
            <label for="type">Search position counts based on player fields.</label>
            <select class="form-select mt-2 mb-2" name="field" hx-post="/players/leaders/" hx-trigger="change" hx-target="#leader-results" hx-swap="innerHTML">
                <option value="spent">Spent</option>
                <option value="salary">Salary</option>
                <option value="cash">Cash</option>
            </select>
        </form>
        <div class="mt-4" id="leader-results">
            {% include 'main/ajax/leaders_fragment.html' %}
        </div>
    </div>
</div>
<div class="container mt-2 mb-5">
    <div class="container border outline-dark mt-2 mb-2 p-5" id="field-leaders">
        <h2>Meta Trends</h2>
        <p>What's turning into a <b class="text-success">meta</b> around the league.</p>
        <form>
            {% csrf_token %}
            <!-- dropdown -->
            <select class="form-select mt-2 mb-2" name="meta" hx-post="/metas/leaders/" hx-trigger="change" hx-target="#meta-results" hx-swap="innerHTML">
                <option value="archetype">Archetypes</option>
                <option value="trait">Traits</option>
                <option value="height">Heights</option>
            </select>
            <!-- results -->
            <div class="mt-4" id="meta-results">
                {% include 'main/ajax/meta_fragment.html' %}
            </div>
        </form>
    </div>
</div>
{% endblock %}