{% extends 'main/base.html' %}

{% block content %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Hello, {{ current_user }}!</h2>
            </div>
        </div>
        <div class="card-group px-4 justify-content-center">
            <!-- Create a player -->
            <div class="card col-" style="width: 18rem; margin: 10px;">
                <img class="card-img-top" src="https://i.imgur.com/C9gs6hZ.png" style="width: auto; height: 400px;" alt="Two players staring each other down.">
                <div class="card-body">
                    <h5 class="card-title">New Career</h5>
                    <p class="card-text">Ready to start your career? Use our customized player builder and become a star.</p>
                    <a href="{% url 'create_player' %}">Start new career</a>
                </div>
            </div>
            <!-- League Roster -->
            <div class="card col-" style="width: 18rem; margin: 10px;">
                <img class="card-img-top" src="https://i.imgur.com/Snkyu9U.png" style="width: auto; height: 400px;" alt="">
                <div class="card-body">
                    <h5 class="card-title">Player Roster</h5>
                    <p class="card-text">View our league roster. Here you will find details for each player.</p>
                    <a href="{% url 'players' %}">View player roster</a>
                </div>
            </div>
            <!-- Team Roster -->
            <div class="card col-" style="width: 18rem; margin: 10px;">
                <img class="card-img-top" src="https://i.imgur.com/YmviERv.png" style="width: auto; height: 400px;" alt="">
                <div class="card-body">
                    <h5 class="card-title">Team Rosters</h5>
                    <p class="card-text">View our team roster. Here you will find details for each team, including rosters.</p>
                    <a href="{% url 'teams' %}">View team rosters</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <!-- My Players -->
        <h5 class="card-title">Careers</h5>
        <div class="card-body">
            {% if players %}
                {% for p in players %}
                <p class="card-text mb-0"><a href=href="{% url 'player' p.id %}" >({{p.id}}) {{ p.first_name }} {{ p.last_name }}'s player profile.</a></p>
                {% endfor %}
            {% else %}
                <p class="card-text mb-0">😒 You have not started any careers.</p>
            {% endif %}
            <hr>
        </div>
    </div>
{% endblock %}